{% load static %}
<! DOCTYPE html>
<html lang="en-US"></html>
<head>
    <link href="{% static 'styles_home.css' %}" rel="stylesheet" type="text/css">
    <title>To use this please read through the <em>readme textfile </em> </title>    
</head>
<body>
<h1>Hello {{name}}</h1>
<p class="intro"> Latitude longitudes are in decimal format.</p>
</body>
    
<form action="shortest_path1" method=POST enctype="multipart/form-data">
    {%csrf_token%}
    Upload Cost Matrix (.csv)<input type="file" name="Cost_matrix"><br>
    Upload Cost Matrix for two graphs at source (.csv)<input type="file" name="Endgraphs_Cost"><br>
    Number of nodes near source<input type="text" name="graph_at_source"><br>    
    edge_length(L)=<input type="text" name="edge_length"><br>   
    Diamond graph edge slope(L)=<input type="text" name="edge_slope"><br> 
    Grid density(nTimes)=<input type="text" name="Grid density"><br>
    Number of layers(K)=<input type="text" name="number of layers"><br>
    Start point latitude=<input type="text" name="Start point latitude"><br>
    Start point longitude=<input type="text" name="Start point longitude"><br>
    End point latitude=<input type="text" name="End point latitude"><br>
    End point longitude=<input type="text" name="End point longitude"><br>
    Scaling factor of terminal graphs=<input type="text" name="grid_scaling"><br>
    Enter your gmap API key=<input type="text" name="enter your gmap API key"><br>
    <input type= "submit", name="shortest path", value="shortest path">
</form>

<!--<form action="shortest_path1" method=GET enctype="multipart/form-data">
{%csrf_token%}
    
</form>-->






 
