<h1>Shortest_path Map view:</h1>

{% load static %}
<style>
  html, body, #map-canvas {
    height: 90%;
    margin: 0px;
    padding: 0px
  }
</style>
<div id="map-canvas"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaCEDKl3L0G7qhBm0CCVZMwAr1x_1Z03k"></script>  
<script>
    //var API_key= document.getElementById("API_key").value;
    //Api_key = JSON.stringify(API_key)
    //Api_key="https://maps.googleapis.com/maps/api/js?key="+API_key
    //var script= document.createElement('script');
    //script.type= 'text/javascript';
    //script.src= Api_key;
// This example adds a marker to indicate the position
// of Bondi Beach in Sydney, Australia

function initialize() {
    start = JSON.parse("{{start}}");
    Lat = JSON.parse("{{Lat}}");
    Long = JSON.parse("{{Long}}");
    N=JSON.parse("{{N}}");
    K=JSON.parse("{{K}}");

    console.log(start[0])
    //start = $.parseJSON(start);
    //Lat = $.parseJSON(Lat);
    //Long = $.parseJSON(Long);
    var marker;
    var map;
    const myLatlng = {lat: start[0], lng: start[1]};
    var mapOptions = {        
        zoom: 16,
        center: myLatlng
    }
    map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

    //var image = '/static/checkmark.png';
    //var c = Lat.map(function(e, i) {return (e, Long[i]);
    //});
    //console.log(c)
    //let infoWindow = new google.maps.InfoWindow({
        //content: "Click the map to get Lat/Lng!",});
    for (let i=0;i<=Lat.length;i++){
    //console.log({{ point.lat }}, {{ point.lon }});
        var myLatLng = new google.maps.LatLng(Lat[i], Long[i]);
        marker = new google.maps.Marker({
        position: myLatLng,
        draggable: true,
        map: map,
        id: i,
        //scaledSize: new google.maps.Size(.01, .05),
        //anchor: new google.maps.Point(.05, .05),
        //icon: {url:icons[iconCounter], scaledSize: new google.maps.Size(70, 70)},
    });      
        
    google.maps.event.addListener(marker, "click", function (event) {
        alert(this.id),alert(this.position)});
    };
    Patchx=JSON.parse("{{Patchx}}");
    Patchy=JSON.parse("{{Patchy}}");
    Patch_righty_start=JSON.parse("{{Patch_righty_start}}");
    Patch_rightx_start=JSON.parse("{{Patch_rightx_start}}");
    Patch_leftx_start=JSON.parse("{{Patch_leftx_start}}");
    Patch_lefty_start=JSON.parse("{{Patch_lefty_start}}");

    Patch_righty_end=JSON.parse("{{Patch_righty_end}}");
    Patch_rightx_end=JSON.parse("{{Patch_rightx_end}}");
    Patch_leftx_end=JSON.parse("{{Patch_leftx_end}}");
    Patch_lefty_end=JSON.parse("{{Patch_lefty_end}}");
    sPath=JSON.parse("{{sPath}}");
    sPath_left_start=JSON.parse("{{sPath_left_start}}");
    sPath_right_start=JSON.parse("{{sPath_right_start}}");
    sPath_left_end=JSON.parse("{{sPath_left_end}}");
    sPath_right_end=JSON.parse("{{sPath_right_end}}");
    Hash=JSON.parse("{{Hash}}");
    nrect=JSON.parse("{{nrect}}");
    const conversion=1/111;
    var lat1,lat2,lat3,long1,long2,long3;
  
    for (var i=0;i<N-1;i++){
      for (var j=0;j<N-1;j++){
        lat1=Patchy[i][j]*conversion+start[0];   
        long1=Patchx[i][j]/(111.32*Math.cos(lat1*3.14/180))+start[1];
        lat2=Patchy[i][j+1]*conversion+start[0];
        long2=Patchx[i][j+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];                
        lat3=Patchy[i+1][j]*conversion+start[0];
        long3=Patchx[i+1][j]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            
        var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat3, lng: long3 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);

          }
        }
    
    for (var i=0;i<N-1;i++) {
            lat1=Patchy[i][N-1]*conversion+start[0];   
            long1=Patchx[i][N-1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patchy[i+1][N-1]*conversion+start[0];   
            long2=Patchx[i+1][N-1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
        
            lat1=Patchy[N-1][i]*conversion+start[0];   
            long1=Patchx[N-1][i]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patchy[N-1][i+1]*conversion+start[0];   
            long2=Patchx[N-1][i+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
  }
  var N1,N2,j1,i11,i12,j2,i21,i22,X1,Y1,X2,Y2,X3,Y3,X4,Y4;
    for (var i=0;i<K;i++){
    if (sPath[i][0]>0.0){
        [N1,N2] = [Math.floor(sPath[i][1]),Math.floor(sPath[i][2])];
        [j1,i11,i12]=[Hash[N1][0],Hash[N1][1],Hash[N1][2]];
        [j2,i21,i22]=[Hash[N2][0],Hash[N2][1],Hash[N2][2]];
        [X1,Y1,X2,Y2,X3,Y3,X4,Y4]=[Math.floor((j1-i11)/2),Math.floor((j1+i11)/2),Math.floor((j1-i12)/2),Math.floor((j1+i12)/2),Math.floor((j2-i21)/2),Math.floor((j2+i21)/2),Math.floor((j2-i22)/2),Math.floor((j2+i22)/2)]
        
        lat1 = Patchy[X1][Y1]*conversion+start[0];
        lat2 = Patchy[X3][Y3]*conversion+start[0];            
        long1 = Patchx[X1][Y1]/(111.32*Math.cos(lat1*3.14/180))+start[1]
        long2 = Patchx[X3][Y3]/(111.32*Math.cos(lat2*3.14/180))+start[1]
        var POLYline = new google.maps.Polyline({
          path: [{ lat: lat1, lng: long1 },
          { lat: lat2, lng: long2 }],
          geodesic: true,
          strokeColor: "#FF00FF",
          strokeOpacity: 1.0,
          strokeWeight: 2,
        });
        POLYline.setMap(map);

        lat1 = Patchy[X2][Y2]*conversion+start[0]
        lat2 = Patchy[X4][Y4]*conversion+start[0]            
        long1 = Patchx[X2][Y2]/(111.32*Math.cos(lat1*3.14/180))+start[1];
        long2 = Patchx[X4][Y4]/(111.32*Math.cos(lat2*3.14/180))+start[1];
        var POLYline = new google.maps.Polyline({
          path: [{ lat: lat1, lng: long1 },
          { lat: lat2, lng: long2 }],
          geodesic: true,
          strokeColor: "#FFFF00",
          strokeOpacity: 1.0,
          strokeWeight: 2,
        });
        POLYline.setMap(map);
      }
      else{console.log("not required");}
    }

  for (var i=0;i<nrect-1;i++){
      for (var j=0;j<nrect-1;j++){
        lat1=Patch_lefty_start[i][j]*conversion+start[0];   
        long1=Patch_leftx_start[i][j]/(111.32*Math.cos(lat1*3.14/180))+start[1];
        lat2=Patch_lefty_start[i][j+1]*conversion+start[0];
        long2=Patch_leftx_start[i][j+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];                
        lat3=Patch_lefty_start[i+1][j]*conversion+start[0];
        long3=Patch_leftx_start[i+1][j]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            
        var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat3, lng: long3 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);

          }
        }
    
    for (var i=0;i<nrect-1;i++) {
            lat1=Patch_lefty_start[i][nrect-1]*conversion+start[0];   
            long1=Patch_leftx_start[i][nrect-1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_lefty_start[i+1][nrect-1]*conversion+start[0];   
            long2=Patch_leftx_start[i+1][nrect-1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            lat1=Patch_lefty_start[nrect-1][i]*conversion+start[0];   
            long1=Patch_leftx_start[nrect-1][i]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_lefty_start[nrect-1][i+1]*conversion+start[0];   
            long2=Patch_leftx_start[nrect-1][i+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];

            
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
  }

  for (var i=0;i<nrect-1;i++){
      for (var j=0;j<nrect-1;j++){
        lat1=Patch_righty_start[i][j]*conversion+start[0];   
        long1=Patch_rightx_start[i][j]/(111.32*Math.cos(lat1*3.14/180))+start[1];
        lat2=Patch_righty_start[i][j+1]*conversion+start[0];
        long2=Patch_rightx_start[i][j+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];                
        lat3=Patch_righty_start[i+1][j]*conversion+start[0];
        long3=Patch_rightx_start[i+1][j]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            
        var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat3, lng: long3 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);

          }
        }
    
    for (var i=0;i<nrect-1;i++) {
            lat1=Patch_righty_start[i][nrect-1]*conversion+start[0];   
            long1=Patch_rightx_start[i][nrect-1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_righty_start[i+1][nrect-1]*conversion+start[0];   
            long2=Patch_rightx_start[i+1][nrect-1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            lat1=Patch_righty_start[nrect-1][i]*conversion+start[0];   
            long1=Patch_rightx_start[nrect-1][i]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_righty_start[nrect-1][i+1]*conversion+start[0];   
            long2=Patch_rightx_start[nrect-1][i+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];

            
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);}

  for (var i=0;i<nrect-1;i++){
    for (var j=0;j<nrect-1;j++){
      lat1=Patch_righty_end[i][j]*conversion+start[0];   
      long1=Patch_rightx_end[i][j]/(111.32*Math.cos(lat1*3.14/180))+start[1];
      lat2=Patch_righty_end[i][j+1]*conversion+start[0];
      long2=Patch_rightx_end[i][j+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];                
      lat3=Patch_righty_end[i+1][j]*conversion+start[0];
      long3=Patch_rightx_end[i+1][j]/(111.32*Math.cos(lat2*3.14/180))+start[1];
          
      var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          POLYline.setMap(map);
          var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat3, lng: long3 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          POLYline.setMap(map);

        }
      }
  
  for (var i=0;i<nrect-1;i++) {
          lat1=Patch_righty_end[i][nrect-1]*conversion+start[0];   
          long1=Patch_rightx_end[i][nrect-1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
          lat2=Patch_righty_end[i+1][nrect-1]*conversion+start[0];   
          long2=Patch_rightx_end[i+1][nrect-1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
          var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          POLYline.setMap(map);
          lat1=Patch_righty_end[nrect-1][i]*conversion+start[0];   
          long1=Patch_rightx_end[nrect-1][i]/(111.32*Math.cos(lat1*3.14/180))+start[1];
          lat2=Patch_righty_end[nrect-1][i+1]*conversion+start[0];   
          long2=Patch_rightx_end[nrect-1][i+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];

          
          var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          POLYline.setMap(map);}

    for (var i=0;i<nrect-1;i++){
      for (var j=0;j<nrect-1;j++){
        lat1=Patch_lefty_end[i][j]*conversion+start[0];   
        long1=Patch_leftx_end[i][j]/(111.32*Math.cos(lat1*3.14/180))+start[1];
        lat2=Patch_lefty_end[i][j+1]*conversion+start[0];
        long2=Patch_leftx_end[i][j+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];                
        lat3=Patch_lefty_end[i+1][j]*conversion+start[0];
        long3=Patch_leftx_end[i+1][j]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            
        var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat3, lng: long3 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);

          }
        }
    
    for (var i=0;i<nrect-1;i++) {
            lat1=Patch_lefty_end[i][nrect-1]*conversion+start[0];   
            long1=Patch_leftx_end[i][nrect-1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_lefty_end[i+1][nrect-1]*conversion+start[0];   
            long2=Patch_leftx_end[i+1][nrect-1]/(111.32*Math.cos(lat2*3.14/180))+start[1];
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);
            lat1=Patch_lefty_end[nrect-1][i]*conversion+start[0];   
            long1=Patch_leftx_end[nrect-1][i]/(111.32*Math.cos(lat1*3.14/180))+start[1];
            lat2=Patch_lefty_end[nrect-1][i+1]*conversion+start[0];   
            long2=Patch_leftx_end[nrect-1][i+1]/(111.32*Math.cos(lat2*3.14/180))+start[1];

            
            var POLYline = new google.maps.Polyline({
              path: [{ lat: lat1, lng: long1 },
              { lat: lat2, lng: long2 }],
              geodesic: true,
              strokeColor: "#FF0000",
              strokeOpacity: 1.0,
              strokeWeight: 2,
            });
            POLYline.setMap(map);}


  for (var i=0;i<sPath_left_start.length-2;i=i+2){   
    [N1,N2] = [Math.floor(sPath_left_start[i]),Math.floor(sPath_left_start[i+2])];
      X1=Math.floor(N1/nrect);
      X2=Math.floor(N2/nrect);
      Y1=N1%nrect;
      Y2=N2%nrect;       
      lat1 = Patch_lefty_start[X1][Y1]*conversion+start[0];
      lat2 = Patch_lefty_start[X2][Y2]*conversion+start[0];            
      long1 = Patch_leftx_start[X1][Y1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
      long2 = Patch_leftx_start[X2][Y2]/(111.32*Math.cos(lat2*3.14/180))+start[1];
      var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FFFF00",
            strokeOpacity: 1.0,
            strokeWeight: 10,
          });
          POLYline.setMap(map);
      }
    for (var i=0;i<sPath_right_start.length-2;i=i+2){   
      [N1,N2] = [Math.floor(sPath_right_start[i]),Math.floor(sPath_right_start[i+2])];
      X1=Math.floor(N1/nrect);
      X2=Math.floor(N2/nrect);
      Y1=N1%nrect;
      Y2=N2%nrect;       
      lat1 = Patch_righty_start[X1][Y1]*conversion+start[0];
      lat2 = Patch_righty_start[X2][Y2]*conversion+start[0];            
      long1 = Patch_rightx_start[X1][Y1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
      long2 = Patch_rightx_start[X2][Y2]/(111.32*Math.cos(lat2*3.14/180))+start[1];
      var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FFFF00",
            strokeOpacity: 1.0,
            strokeWeight: 10,
          });
          POLYline.setMap(map);
}

for (var i=0;i<sPath_left_end.length-2;i=i+2){   
      [N1,N2] = [Math.floor(sPath_left_end[i]),Math.floor(sPath_left_end[i+2])];
      X1=Math.floor(N1/nrect);
      X2=Math.floor(N2/nrect);
      Y1=N1%nrect;
      Y2=N2%nrect ;      
      lat1 = Patch_lefty_end[X1][Y1]*conversion+start[0];
      lat2 = Patch_lefty_end[X2][Y2]*conversion+start[0] ;           
      long1 = Patch_leftx_end[X1][Y1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
      long2 = Patch_leftx_end[X2][Y2]/(111.32*Math.cos(lat2*3.14/180))+start[1];
      var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 10,
          });
          POLYline.setMap(map);
        }
    for (var i=0;i<sPath_right_end.length-2;i=i+2){   
      [N1,N2] = [Math.floor(sPath_right_end[i]),Math.floor(sPath_right_end[i+2])];
      X1=Math.floor(N1/nrect);
      X2=Math.floor(N2/nrect);
      Y1=N1%nrect;
      Y2=N2%nrect;       
      lat1 = Patch_righty_end[X1][Y1]*conversion+start[0];
      lat2 = Patch_righty_end[X2][Y2]*conversion+start[0];            
      long1 = Patch_rightx_end[X1][Y1]/(111.32*Math.cos(lat1*3.14/180))+start[1];
      long2 = Patch_rightx_end[X2][Y2]/(111.32*Math.cos(lat2*3.14/180))+start[1];
      var POLYline = new google.maps.Polyline({
            path: [{ lat: lat1, lng: long1 },
            { lat: lat2, lng: long2 }],
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 10,
          });
          POLYline.setMap(map);
}
  }
    
    google.maps.event.addDomListener(window, 'load', initialize); 

</script>

<script>
function Costs() {
  Cost_horizontal = JSON.parse("{{Cost_horizontal}}");
  Cost_vertical = JSON.parse("{{Cost_vertical}}");
  Cost_diag=JSON.parse("{{Cost_diag}}");
  N=JSON.parse("{{N}}");
  var node_id = document.getElementById("node_id").value;
  node_row=Math.floor(node_id/N);
  node_col=Math.floor(node_id%N);
  if (node_row<N-1){ 
  var CostV=Cost_vertical[node_row+1][node_col];
  if (node_col<N-1){
  var CostD=Cost_diag[node_row+1][node_col+1];}
  else {var CostD="None"};}
  else {
    var CostV="None";
    var CostD="None";
  }
  if (node_col<N-1){
  var CostH=Cost_horizontal[node_row][node_col+1];}
  
  else{
    var CostH="None"
  }
  
  document.getElementById("Cost horizontal").innerHTML = "Cost horizontal"+CostH;
  document.getElementById("Cost vertical").innerHTML = "Cost vertical"+CostV;
  document.getElementById("Cost diagonal").innerHTML = "Cost diagonal"+CostD;
}
</script>

<p>Enter Node ID for cost manipulation:</p>
<form >
  <input type= "number" id="node_id"><br>
  <input type="button" id="Cost_horizon" value= "click" onclick= "Costs()">
  <div id="Cost horizontal"> </div>
  <div id="Cost vertical"> </div>
  <div id="Cost diagonal"> </div>
</form>
<p> Modify route </p>
<form action="Modify_cost" method=POST enctype="multipart/form-data">
  {%csrf_token%}
  <input type="text" name="id_nodes"><br>
  Cost horizontal:  <input type="text" name="Cost_horizontal">
  Cost vertical: <input type="text" name="Cost_vertical">
  Cost Diagonal: <input type="text" name="Cost_diag"> 
  <input type="submit", name="Submit", value="Submit"> 
</form> 
